<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a
                class="nav-link disabled"
                [class.active]="(activeTab$ | async) === 'personal'"
                [routerLink]="['/']"
                [queryParams]="{ feed: 'personal' }"
                >Your Feed</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                [class.active]="(activeTab$ | async) === 'global'"
                [routerLink]="['/']"
                [queryParams]="{ feed: 'global' }"
                >Global Feed</a
              >
            </li>
          </ul>
        </div>

        <ng-container *ngIf="articlesLoaded$ | async">
          <div
            class="article-preview"
            *ngFor="let article of articles$ | async"
          >
            <div class="article-meta">
              <a [routerLink]="['/profile/' + article.author.username]"
                ><img [src]="article.author.image"
              /></a>
              <div class="info">
                <a
                  [routerLink]="['/profile/' + article.author.username]"
                  class="author"
                  >{{ article.author.username }}</a
                >
                <span class="date">{{ article.createdAt | date }}</span>
              </div>
              <button class="btn btn-outline-primary btn-sm pull-xs-right">
                <i class="ion-heart"></i> {{ article.favoritesCount }}
              </button>
            </div>
            <a [routerLink]="['/article/' + article.slug]" class="preview-link">
              <h1>{{ article.title }}</h1>
              <p>{{ article.description }}</p>
              <span>Read more...</span>
            </a>
          </div>
        </ng-container>

        <ng-container *ngIf="(articlesLoaded$ | async) === false">
          Loading articles...
        </ng-container>
      </div>

      <div class="col-md-3" *ngIf="tagsLoaded$ | async">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <ng-container *ngFor="let tag of tags$ | async">
              <a
                [routerLink]="['/']"
                [queryParams]="{ tag: tag.value }"
                class="tag-pill tag-default"
                >{{ tag.value }}</a
              >
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
